<div>
  <div>
    <div>
      <p>Hi <%= @user.email %>,</p>
    </div>
    <div>
      <p align="justify"> We receive a request to change the password for the Brand Cruz account associated with this
        email address.</p>
    </div>
    <div>
      <p>To change this password, follow this <%= link_to 'link', @edit_password_reset_url, style: 'color:red' %></p>
    </div>
    <div>
      <p align="justify"><b>Please note: </b>for your security, this link is only valid for 4 hours.</p>
    </div>
    <div>
      <p align="justify">
        If you didn't request a password reset, please let us know immediatly by following this
        <%= link_to 'link', @edit_password_reset_url, style: 'color:red' %>
      </p>
    </div>

  </div>
</div>