<tr>
  <td class="order-number"><a href="http://localhost:3000/orders/BR-4316-672534525">BR-4316-672534525</a></td>
  <td class="order-date">2017-07-04</td>
  <td class="order-status">
    Approved
  </td>
  <td class="text-primary order-total">
    <span class="mark-text"> BDT 0.0 </span>
  </td>
  <td class="order-shipment-state">
    <%= link_to 'Shipped Track now', order_shipped_track_path(10) %>
  </td>
</tr>