<div class="top-slider">
  <div class="slider-item">
    <%= image_tag('slider/slider1.jpg', class: 'img-fluid slider-image-fluid') %>
  </div>
  <div class="slider-item">
    <%= image_tag('slider/slider2.jpg', class: 'img-fluid slider-image-fluid') %>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.top-slider').slick({
            dots: !0,
            autoplay: true,
            infinite: true
        });
    });
</script>