<div class="col-sm-4 post-item">
  <div class="item">
    <article>
      <div class="content-blog">
        <div class="image-thumnail">

          <div class="post-thumbnail">
            <img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2015/08/img_blog-480x272.jpg" class="single-image-fluid" alt="">
          </div>

        </div>

        <div class="bottom-blog">
          <h3 class="title-post">
            <a href="http://venusdemo.com/wordpress/pi/lorem-ipsum-is-simply-dummy/" rel="bookmark">Lorem
              Ipsum is simply dummy</a></h3>

          <div class="blog-meta">
            <div class="entry-date">
              <i class="fa fa-calendar"></i>
              Aug<span> - 06			   	</span>
            </div>
            <div class="entry-comments">
              <i class="fa fa-comments"></i>
              <a href="http://venusdemo.com/wordpress/pi/lorem-ipsum-is-simply-dummy/#comments">
                1 Comment
              </a>
            </div>
          </div>
          <div class="entry-content">
            Candida is a term that refers to a large family of yeasts (one celled fungi) that
            under normal circumstances, ...
          </div>
          <!-- .entry-content -->
        </div>

      </div>
    </article>
    <!-- #post-## -->
  </div>
</div>