<div class="product-block">
  <figure>
    <a title="Brigitte Bordeux" href="#" class="product-image">
      <img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/30.jpg" class="image-hover" alt="">
    </a>

    <div class="wrap-add-whishlist clearfix">
      <div class="add-to-wishlist">
        <%= raw wishlist_link(1) %>
      </div>
    </div>

    <div class="button-action clearfix">
      <div class="button-groups">
        <div class="add-cart">
          <a title="Add to cart" href="http://venusdemo.com/wordpress/pi/product/brigitte-bordeux/" class="button add_to_cart_button">
            <i class="fa fa-bag"></i>
            <span class="title-cart">Select options</span>
          </a>
        </div>
        <div class="wrap-acction-group">
          <div class="quick-view hidden-xs hidden-sm">
            <a title="Quick view" href="#" data-action="/products/1/quickview" class="quickview" data-toggle="modal" data-target="#quickview-modal">
              <i class="fa fa-eye" title="Quick view"> </i>
            </a>
          </div>

          <div class="yith-compare">
            <a title="Add to compare" href="#" class="compare">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <div class="meta">
    <h3 class="name">
      <a href="/products/test-products">Brigitte Bordeux</a>
    </h3>

    <div class="caption">
      <div class="rating">
        <div class="star-rating" data-rating="3">
          ******
        </div>
      </div>
        <span class="price">
            <span class="amount">
              <span>$</span>40.0
            </span>
        </span>
    </div>
  </div>
</div>