<div class="product-block">
  <figure>
    <a title="Brigitte Bordeux" href="#" class="product-image">
      <img src="http://venusdemo.com/wordpress/pi/wp-content/uploads/2017/03/30.jpg" class="image-hover" alt="">
    </a>

    <div class="wrap-add-whishlist clearfix">
      <div class="yith-add-to-wishlist">
        <div class="yith-wcwl-add-button show" style="display:block">
          <a title="Add to wishlist" href="/wordpress/pi/?add_to_wishlist=11943" rel="nofollow" class="add_to_wishlist">
            <i class="fa fa-heart-o"></i>
          </a>
          <img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
        </div>
        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
          <span class="feedback">Product added!</span>
          <a href="http://venusdemo.com/wordpress/pi/wishlist/" rel="nofollow">
            <i class="fa fa-heart-o"></i><span>Add To Wishlist</span> </a>
        </div>
        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
          <span class="feedback">The product is already in the wishlist!</span>
          <a href="#" rel="nofollow">
            <i class="fa fa-heart-o"></i><span>Add To Wishlist</span> </a>
        </div>
        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
      </div>
    </div>

    <div class="button-action clearfix">
      <div class="button-groups">
        <div class="add-cart">
          <a title="Add to cart" href="http://venusdemo.com/wordpress/pi/product/brigitte-bordeux/" class="button add_to_cart_button">
            <i class="fa fa-bag"></i>
            <span class="title-cart">Select options</span>
          </a>
        </div>
        <div class="wrap-acction-group">
          <div class="quick-view hidden-xs hidden-sm">
            <a title="Quick view" href="#" class="quickview" data-toggle="modal" data-target="#opal-quickview-modal">
              <i class="fa fa-eye" title="Quick view"> </i>
            </a>
          </div>

          <div class="yith-compare">
            <a title="Add to compare" href="#" class="compare">
              <i class="fa fa-refresh"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <div class="meta">
    <h3 class="name">
      <a href="/products/test-products">Brigitte Bordeux</a>
    </h3>

    <div class="caption">
      <div class="rating">
        <div class="star-rating" data-rating="3">
          ******
        </div>
      </div>
        <span class="price">
            <span class="amount">
              <span>$</span>40.0
            </span>
        </span>
    </div>
  </div>
</div>