<section class="top-category-promo">
  <div class="row hidden-xs">
    <div class="col-sm-12">
      <div class="cat-col-container">
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="effect-v3">
            <a href="/products" target="_self">
              <%= image_tag('coockware.jpg', class: 'top-product-banner') %>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="effect-v6">
            <a href="/products" target="_self">
              <%= image_tag('kitchen_appliances.jpg', class: 'top-product-banner') %>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="height: 50px; clear: both; width:100%;"></div>
          <div class="box-shadow-v1 effect-v1">
            <a href="/products" title="" target="_self">
              <%= image_tag('topcooker.jpg', class: 'top-product-banner') %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
