<aside class="widget clearfix">
  <div class="widget widget-off">
    <h3 class="widget-title">
      <%= t(:search_catalog) %>
    </h3>


    <div class="woof woof_sid woof_sid_widget" data-sid="widget" data-shortcode="woof sid='widget' price_filter='3' redirect='' ajax_redraw='0' " data-redirect="" data-autosubmit="1" data-ajax-redraw="0">

      <div class="woof_redraw_zone">


        <div data-css-class="woof_price3_search_container" class="woof_price3_search_container woof_container">
          <div class="woof_container_overlay_item"></div>
          <div class="woof_container_inner">
            <input class="range-slider hidden" value=''>
          </div>
        </div>

        <div data-css-class="woof_container_pa_color" class="woof_container woof_container_color woof_container_pa_color woof_container_1 woof_container_color">
          <div class="woof_container_overlay_item"></div>
          <div class="woof_container_inner woof_container_inner_color">
            <h4>Color</h4>

            <div class="widget-block-html-items">


              <ul class="widget-list-radio">
                <li>
                  <input type="radio" id="woof_21_59d335a7e3f52" class="woof_radio_term woof_radio_term_21" data-slug="black" data-term-id="21" name="pa_color" value="21"><label class="woof_radio_label " for="woof_21_59d335a7e3f52">Black<span class="woof_radio_count">(4)</span></label>

                  <a href="#" name="pa_color" data-term-id="21" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_21"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Black" data-anchor="woof_n_pa_color_black">

                </li>
                <li>
                  <input type="radio" id="woof_23_59d335a7e3fb5" class="woof_radio_term woof_radio_term_23" data-slug="blue" data-term-id="23" name="pa_color" value="23"><label class="woof_radio_label " for="woof_23_59d335a7e3fb5">Blue<span class="woof_radio_count">(4)</span></label>

                  <a href="#" name="pa_color" data-term-id="23" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_23"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Blue" data-anchor="woof_n_pa_color_blue">

                </li>
                <li>
                  <input type="radio" id="woof_22_59d335a7e400e" class="woof_radio_term woof_radio_term_22" data-slug="green" data-term-id="22" name="pa_color" value="22"><label class="woof_radio_label " for="woof_22_59d335a7e400e">Green<span class="woof_radio_count">(4)</span></label>

                  <a href="#" name="pa_color" data-term-id="22" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_22"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Green" data-anchor="woof_n_pa_color_green">

                </li>
                <li>
                  <input type="radio" id="woof_46_59d335a7e4066" class="woof_radio_term woof_radio_term_46" data-slug="orange" data-term-id="46" name="pa_color" value="46"><label class="woof_radio_label " for="woof_46_59d335a7e4066">Orange<span class="woof_radio_count">(3)</span></label>

                  <a href="#" name="pa_color" data-term-id="46" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_46"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Orange" data-anchor="woof_n_pa_color_orange">

                </li>
                <li>
                  <input type="radio" id="woof_44_59d335a7e40bd" class="woof_radio_term woof_radio_term_44" data-slug="red" data-term-id="44" name="pa_color" value="44"><label class="woof_radio_label " for="woof_44_59d335a7e40bd">Red<span class="woof_radio_count">(3)</span></label>

                  <a href="#" name="pa_color" data-term-id="44" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_44"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Red" data-anchor="woof_n_pa_color_red">

                </li>
                <li>
                  <input type="radio" id="woof_45_59d335a7e4113" class="woof_radio_term woof_radio_term_45" data-slug="yellow" data-term-id="45" name="pa_color" value="45"><label class="woof_radio_label " for="woof_45_59d335a7e4113">Yellow<span class="woof_radio_count">(3)</span></label>

                  <a href="#" name="pa_color" data-term-id="45" style="display: none;" class="woof_radio_term_reset   woof_radio_term_reset_45"><img src="http://venusdemo.com/wordpress/pi/wp-content/plugins/woocommerce-products-filter/img/delete.png" height="12" width="12" alt=""></a>

                  <input type="hidden" value="Yellow" data-anchor="woof_n_pa_color_yellow">

                </li>
              </ul>

            </div>

            <input type="hidden" name="woof_t_pa_color" value="Product Color"><!-- for red button search nav panel -->

          </div>
        </div>
        <div data-css-class="woof_container_pa_size" class="woof_container woof_container_checkbox woof_container_pa_size woof_container_2 woof_container_size">
          <div class="woof_container_overlay_item"></div>
          <div class="woof_container_inner woof_container_inner_size">
            <h4>Size</h4>

            <div class="widget-block-html-items">
              <ul class="widget-list-checkbox">
                <li>
                  <input type="checkbox" id="woof_49_59d335a7e473d" class="woof_checkbox_term woof_checkbox_term_49" data-tax="pa_size" name="l" data-term-id="49" value="49"><label class="woof_checkbox_label " for="woof_49_59d335a7e473d">L<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="L" data-anchor="woof_n_pa_size_l">

                </li>
                <li>
                  <input type="checkbox" id="woof_48_59d335a7e479b" class="woof_checkbox_term woof_checkbox_term_48" data-tax="pa_size" name="m" data-term-id="48" value="48"><label class="woof_checkbox_label " for="woof_48_59d335a7e479b">M<span class="woof_checkbox_count">(4)</span></label>
                  <input type="hidden" value="M" data-anchor="woof_n_pa_size_m">

                </li>
                <li>
                  <input type="checkbox" id="woof_47_59d335a7e47f4" class="woof_checkbox_term woof_checkbox_term_47" data-tax="pa_size" name="s" data-term-id="47" value="47"><label class="woof_checkbox_label " for="woof_47_59d335a7e47f4">S<span class="woof_checkbox_count">(4)</span></label>
                  <input type="hidden" value="S" data-anchor="woof_n_pa_size_s">

                </li>
                <li>
                  <input type="checkbox" id="woof_50_59d335a7e485c" class="woof_checkbox_term woof_checkbox_term_50" data-tax="pa_size" name="xl" data-term-id="50" value="50"><label class="woof_checkbox_label " for="woof_50_59d335a7e485c">XL<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="XL" data-anchor="woof_n_pa_size_xl">

                </li>
                <li>
                  <input type="checkbox" id="woof_51_59d335a7e48cd" class="woof_checkbox_term woof_checkbox_term_51" data-tax="pa_size" name="xxl" data-term-id="51" value="51"><label class="woof_checkbox_label " for="woof_51_59d335a7e48cd">XXL<span class="woof_checkbox_count">(3)</span></label>
                  <input type="hidden" value="XXL" data-anchor="woof_n_pa_size_xxl">

                </li>
              </ul>
            </div>

            <input type="hidden" name="woof_t_pa_size" value="Product Size"><!-- for red button search nav panel -->

          </div>
        </div>


        <div class="woof_submit_search_form_container">


          <button style="float: right;" class="button woof_reset_search_form" data-link="">Reset</button>


        </div>

      </div>

    </div>


  </div>
</aside>

<script type="text/javascript">
    $(function () {
        $(".range-slider").ionRangeSlider({
            type: "double",
            grid: true,
            min: 0,
            max: 1000,
            from: 0,
            to: 1000,
            prefix: "$"
        });
    });
</script>