<aside class="widget widget-product-categories">
  <h3 class="widget-title">
    <%= t(:categories) %>
  </h3>
  <ul class="product-categories">
    <li class="cat-item cat-item-362">
      <a href="http://venusdemo.com/wordpress/pi/product-category/backpach/">Backpach</a></li>
    <li class="cat-item cat-item-396 cat-parent">
      <a href="http://venusdemo.com/wordpress/pi/product-category/big-bags/">Big Bags</a>
      <ul class="children" style="display: none;">
        <li class="cat-item cat-item-401">
          <a href="http://venusdemo.com/wordpress/pi/product-category/big-bags/bags-hot/">Bags Hot</a></li>
        <li class="cat-item cat-item-399">
          <a href="http://venusdemo.com/wordpress/pi/product-category/big-bags/dawson/">Dawson</a></li>
        <li class="cat-item cat-item-397">
          <a href="http://venusdemo.com/wordpress/pi/product-category/big-bags/new-style/">new Style</a></li>
      </ul>
    </li>
    <li class="cat-item cat-item-380 cat-parent">
      <a href="http://venusdemo.com/wordpress/pi/product-category/handbags/">Handbags</a>
      <ul class="children" style="display: none;">
        <li class="cat-item cat-item-384">
          <a href="http://venusdemo.com/wordpress/pi/product-category/handbags/back-bags/">back bags</a></li>
        <li class="cat-item cat-item-382">
          <a href="http://venusdemo.com/wordpress/pi/product-category/handbags/backbags-skins/">backbags skins</a></li>
        <li class="cat-item cat-item-383">
          <a href="http://venusdemo.com/wordpress/pi/product-category/handbags/collection-2016/">collection 2016</a>
        </li>
        <li class="cat-item cat-item-381">
          <a href="http://venusdemo.com/wordpress/pi/product-category/handbags/travel/">travel</a></li>
      </ul>
    </li>
    <li class="cat-item cat-item-372">
      <a href="http://venusdemo.com/wordpress/pi/product-category/hip-packs/">Hip Packs</a></li>
    <li class="cat-item cat-item-317">
      <a href="http://venusdemo.com/wordpress/pi/product-category/kids-school/">kids &amp; School</a></li>
    <li class="cat-item cat-item-386"><a href="http://venusdemo.com/wordpress/pi/product-category/men/">Men</a></li>
    <li class="cat-item cat-item-374"><a href="http://venusdemo.com/wordpress/pi/product-category/pouches/">Pouches</a>
    </li>
    <li class="cat-item cat-item-315">
      <a href="http://venusdemo.com/wordpress/pi/product-category/spring-2016/">spring 2016</a></li>
    <li class="cat-item cat-item-275"><a href="http://venusdemo.com/wordpress/pi/product-category/women/">Women</a></li>
  </ul>
</aside>