<aside class="widget widget-product-categories">
  <h3 class="widget-title">
    <%= t(:categories) %>
  </h3>
  <ul class="product-categories">
    <% Taxon.all.each do |taxon| %>
        <li class="cat-item cat-item-<%= taxon.id %>">
          <%= link_to taxon.name, categories_path(taxon.permalink) %>
        </li>
    <% end %>
  </ul>
</aside>