<aside class="widget widget-product-categories">
  <h3 class="widget-title">
    <%= t(:categories) %>
  </h3>
  <ul class="product-categories">
    <% active_taxons.each do |taxon| %>
        <%= raw draw_category_tree(taxon, (@taxon.present? ? @taxon.id : '')) %>
    <% end %>
  </ul>
</aside>

<script type="text/javascript">
    $(function () {
        $.each($('.product-categories > li'), function (index, element) {
            if ($(element).has('a.active').length > 0) {
                $(element).addClass('top-active').find('i').toggleClass('fa-plus fa-minus');
            }
        });
        $('.collapse-ref').click(function () {
            ref = $(this).attr('data-ref');
            $(this).find('i').toggleClass('fa-plus fa-minus');
            $('#' + ref).toggle();
        });
    });
</script>